
ProyectoFinal/.vs/ProyectoFinal/FileContentIndex/1e5ba513-edb2-4411-b389-86e752eeac22.vsidx
ProyectoFinal/ProyectoFinal/Debug/Camera.obj
ProyectoFinal/ProyectoFinal/Debug/DirectionalLight.obj
ProyectoFinal/Debug/ProyectoFinal.exe
ProyectoFinal/ProyectoFinal/Debug/Skybox.obj
ProyectoFinal/ProyectoFinal/Debug/Sphere.obj
ProyectoFinal/ProyectoFinal/Debug/SpotLight.obj
ProyectoFinal/ProyectoFinal/Debug/Window.obj
